.mapContainer {
  display: flex;
  height: 100%;
}
.View {
  flex: 1.5;
}
.map {
  flex: 4;
  width: 80%;
}
.map ul {
  list-style: none;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
ul {
  list-style: none;
  padding: 0;
}
ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  font-size: 1rem;
}
ul.pagination li:first-child {
  border-radius: 5px 0 0 5px;
}
ul.pagination li:last-child {
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  user-select: none;
  color: #337ab7;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: white;
}
ul.pagination li.active {
  background-color: #337ab7;
}
ul.pagination li a:hover,
ul.pagination li a.active {
  color: blue;
}
.page-seletion {
  width: 48px;
  height: 30px;
  color: #337ab7;
}

.mapItem {
  border: 1px solid #777;
  text-align: left;
  padding-left: 10px;
  padding: 15px 0 15px 10px;
  user-select: none;
}
.mapItem:hover {
  background-color: #eee;
  cursor: pointer;
}
