table.mainView {
  width: 80%;
  margin: 0 auto 0 auto;
}
table.mainView tr {
  white-space: nowrap;
  display: grid;
  grid-template-columns: 0.3fr 5fr 0.6fr 0.8fr 0.3fr 0.3fr;
}
table.mainView td {
  padding: 1.2em;
  border-top: 2px solid aqua;
}
table.mainView td:nth-of-type(2) {
  text-align: left;
}
div.select {
  width: 80%;
  margin: auto;
  display: flex;
}
div.select div.write {
  margin-left: auto;
}
